body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    background-color: #051351;
}

.container {
    background-color: #bbb6b6;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(15, 3, 0, 0.1);
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#new-user-btn {
    text-decoration: none;
    color: #007bff;
}
